p {
	display: inline;

}




ul.nav {
	text-align: right;
	margin-right: 20px;
}

ul.nav li {
	display: inline;
	list-style: none;

}



#cuteWhitePuppy{
	width: 30%;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px; 

}

#page2heading{
	text-align: center;

}

#page2SubHeading{
	text-align: center;

}

#animalTesting {
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 500px;
}

#cutePuppyShowoff {
	width: 30%;
	float: left;
	margin-right: 10px;
}

#page3heading{
	margin-bottom: 0px; 
	text-align: center;
}

#page3list{
	list-style-type: circle;
	display: inline-block;
	padding-left: 425px;
	margin-top: 0px;
	font-weight: bold;
}