/* I added these changes to the body, i think we should break this up into multiple stylesheets */
body {
	background: #FAEBD7;
	font-family: "Verdana", Geneva, sans-serif;
}


/* nav links */
ul.nav {
	text-align: right;
	list-style: none;
	margin-right: 20px;
}

ul.nav li {
	display: inline;
	padding: 40px 30px;
	font-size: 20px;
}

.icons {
	list-style: none;
}

.icons li {
	display: inline;
}

a:link {
	color: #008080;
}
a:visited {
	color: #008080;
}
a:hover {
	color: #707070;
}
a:active{
	color: #008080;
}


h1 {
	text-decoration: overline underline;
	font-size: 40px;
}

/* end of changes and additions for all the pages, changes to index/homepage are on indexstyle.css */

/*index page specifics*/
.rats {
	width: 40%;
	border: 10px solid black;
	margin: 20px 40px;
	float: right;
}

.ref {
	list-style-type: circle;
}

.content {
	padding: 20px;
}

.note {
	font-size: 12px;
	font-style: italic;
}



#cuteWhitePuppy{
	width: 30%;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px; 

}

#page2heading{
	text-align: center;

}

#page2SubHeading{
	text-align: center;

}

#animalTesting {
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 500px;
}

#cutePuppyShowoff {
	width: 30%;
	float: left;
	margin-right: 10px;
}

#page3heading{
	margin-bottom: 0px; 
	text-align: center;
}

#page3list{
	list-style-type: circle;
	display: inline-block;
	padding-left: 425px;
	margin-top: 0px;
	font-weight: bold;
}

/* footer stuff */
.footer {
	background: #EAB988;
	margin: 20px 0px;
	padding: 5px;
  	height: 68px;
  	padding-top: 30px;
	clear: both;
}

#donate {
	background-color: #D3D3D3;
	width: 20%;
    height: 45px;
	float: left;
}

#email {
	float: right;
}



