.rats {
	width: 40%;
	border: 10px solid black;
	margin: 20px 40px;
	float: right;
}

.ref {
	list-style-type: circle;
}

.content {
	padding: 20px;
}

.note {
	font-size: 12px;
	font-style: italic;
}